<template>
  <div class="admin-dashboard">
    <h1 class="admin-dashboard__title">Geektrain для администраторов</h1>
    <hr>
    <div class="admin-dashboard__articles-list-wrapper">
      <h2>Список статей</h2>
      <div v-if="!articles.length" class="admin-dashboard__no-articles"></div>
      <div v-if="articles.length" class="admin-dashboard__articles-list">
        <div class="admin-dashboard__article" v-for="article of articles" v-bind:key="article.id">
          <router-link :to="`/article/${article.id}`" class="article-list-item__title">{{ article.title }}</router-link>
          <div class="article-list-item__created-at">Добавлена {{ article.createdAt | dateFormat('DD MMM YYYY') }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import { Component, Prop } from 'vue-property-decorator';

  interface IArticle {
    id: string;
    title: string;
    createdAt: Date;
  }

  @Component
  export default class AdminDashboard extends Vue {
    public articles: IArticle[] = [];

    public created() {
      [1, 2, 3, 4].forEach((num: number) => {
        this.articles.push({
          id: num.toString(),
          title: `Article ${num}`,
          createdAt: new Date()
        });
      });
    }

  }
</script>

<style lang="scss">
  .admin-dashboard {
    &__article {
      display: flex;

      .article-list-item {
        &__title {
          flex: 1;
        }
      }
    }
  }
</style>

