<template>
  <div class="article" v-if="article">
    <div class="article__title">{{ article.title }}</div>
    <div class="article__content">
      <jodit-vue v-model="article.content" />
    </div>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import { Component, Prop } from 'vue-property-decorator';
  import JoditVue from 'jodit-vue';
  import Article from '../models/Article';

  @Component({
    components: { JoditVue }
  })
  export default class ArticlePage extends Vue {

    public article: Article | null = Article.build();

    public created() {
      // load article
    }
  }
</script>

<style lang="scss">
  @import url('/node_modules/jodit/build/jodit.min.css');
</style>

