<template>
  <router-view></router-view>
</template>

<script lang="ts">
  import Vue from 'vue';
  import { Component, Prop } from 'vue-property-decorator';

  @Component
  export default class App extends Vue {
  }
</script>
